:root {
  --nav-size: 60px;
  --header-size: 55px;
  --mega-font: 72px;
  --mega-font-smaller: 60px;
  --title-font: 50px;
  --title-font-smaller: 42px;
  --subheader-font: 30px;
  --text-font: 24px;
  --smaller-font: 17.5px;
  --sub-text-size: 15px;
  --speed: 300ms;
  --card-speed: 500ms;
  --br-default: 3px;
  --br-icon: 3px;

  --very-dark: #131414;
  --darker-grey: #1d2024;
  --dark-grey: #282c34;
  --darkish-grey: #30343d;
  --grey: #4b525e;
  --placeholder-grey: #808080;
  --lightish-grey: #666666;
  --light-grey: #b5b5b5;
  --hover-grey: #d6d6d6;

  --off-white: rgba(255, 255, 255, 0.9);

  --main-pink: #ca3dc3;
  --dark-purple: #413b42;
  --light-purple: #6b59ae;
  --main-blue: #1fe0e0;
  --main-yellow: #f4d06f;

  --slushy: linear-gradient(
    to bottom,
    var(--main-yellow) -10%,
    var(--main-pink) 120%
  );
  --todo-background: linear-gradient(
    to top,
    var(--main-blue) -10%,
    var(--main-pink) 100%
  );
  --purple-slushy: linear-gradient(
    to top,
    var(--light-purple) 20%,
    var(--main-pink) 100%
  );
  --purple-slushy-horiz: linear-gradient(
    to right,
    var(--light-purple) 20%,
    var(--main-pink) 100%
  );
  --white-slushy: linear-gradient(
    to bottom,
    var(--off-white) -10%,
    var(--main-blue) 120%
  );
  --dark-slushy: linear-gradient(
    to bottom,
    var(--very-dark) -10%,
    var(--main-pink) 120%
  );
  --side-slushy: linear-gradient(
    to right,
    var(--main-yellow) 0%,
    var(--main-pink) 100%
  );
  --side-slushy-todo: linear-gradient(
    to right,
    var(--main-blue) -10%,
    var(--main-pink) 90%
  );
  --dark-hombre-horiz: linear-gradient(
    to right,
    var(--very-dark) 0%,
    var(--darkish-grey) 100%
  );
  --dark-hombre-reverse-vert: linear-gradient(
    to top,
    var(--very-dark) 0%,
    var(--darkish-grey) 100%
  );
  --dark-hombre-vert: linear-gradient(
    to bottom,
    var(--very-dark) 0%,
    var(--darkish-grey) 100%
  );
  --dark-hombre-reverse-horiz: linear-gradient(
    to left,
    var(--very-dark) 0%,
    var(--darkish-grey) 100%
  );
  --dark-hombre: linear-gradient(
    to bottom right,
    var(--very-dark) 0%,
    var(--darkish-grey) 100%
  );
  --dark-hombre-reverse: linear-gradient(
    to top left,
    var(--very-dark) 0%,
    var(--darkish-grey) 100%
  );
  color-scheme: dark;
  background: var(--very-dark);
  color: var(--off-white);
}

* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  height: 100vh;
  width: 100%;
  overflow: hidden auto;
  background: var(--very-dark);
  color: var(--off-white);
}

#navbar-big,
#navbar-small {
  .nav-text-link {
    text-decoration: none;
  }

  .nav-text-link:hover {
    background: var(--dark-hombre-horiz) !important;
    color: var(--off-white) !important;
  }

  a:active {
    span {
      opacity: 0.8;
    }
  }
}

.relative {
  position: relative;
}
.absolute {
  position: absolute;
}

.dark-grey-border {
  border: 2px solid var(--dark-grey) !important;
}

.darker-grey-border {
  border: 2px solid var(--darker-grey) !important;
}

.grey-border {
  border: 2px solid var(--grey) !important;
}

.light-grey-border {
  border: 2px solid var(--light-grey) !important;
}

.white-border {
  border: 2px solid var(--off-white) !important;
}

.very-dark-border {
  border: 2px solid var(--very-dark) !important;
}

.pink-border {
  border: 2px solid var(--main-pink) !important;
}

.purple-border {
  border: 2px solid var(--light-purple) !important;
}

.yellow-border {
  border: 2px solid var(--main-yellow) !important;
}

.blue-border {
  border: 2px solid var(--main-blue) !important;
}

.red-border {
  border: 2px solid red !important;
}

.purple-shadow {
  box-shadow: 0 0 1px 1px var(--light-purple);
}

.yellow-shadow {
  box-shadow: 0 0 1px 1px var(--main-yellow);
}

.blue-shadow {
  box-shadow: 0 0 1px 1px var(--main-blue);
}

.dark-text-shadow {
  text-shadow: 0 0 2px var(--very-dark);
}

.pink-text-shadow {
  text-shadow: 0 0 0.5px var(--main-pink);
}

.yellow-text-shadow {
  text-shadow: 0 0 0.5px var(--main-yellow);
}

.blue-text-shadow {
  text-shadow: 0 0 0.5px var(--main-blue);
}

.hover-white-border {
  &:hover {
    border: 1px solid var(--off-white) !important;
  }
}

.hover-white {
  &:hover {
    color: var(--off-white) !important;
  }
}

.dark-grey-border-v {
  border-right: 2px solid var(--dark-grey) !important;
  border-left: 2px solid var(--dark-grey) !important;
}

.darker-grey-border-v {
  border-right: 2px solid var(--darker-grey) !important;
  border-left: 2px solid var(--darker-grey) !important;
}

.grey-border-v {
  border-right: 2px solid var(--grey) !important;
  border-left: 2px solid var(--grey) !important;
}

.light-grey-border-v {
  border-right: 2px solid var(--light-grey) !important;
  border-left: 2px solid var(--light-grey) !important;
}

.white-border-v {
  border-right: 2px solid var(--off-white) !important;
  border-left: 2px solid var(--off-white) !important;
}

.very-dark-border-v {
  border-right: 2px solid var(--very-dark) !important;
  border-left: 2px solid var(--very-dark) !important;
}

.pink-border-v {
  border-right: 2px solid var(--main-pink) !important;
  border-left: 2px solid var(--main-pink) !important;
}

.purple-border-v {
  border-right: 2px solid var(--light-purple) !important;
  border-left: 2px solid var(--light-purple) !important;
}

.yellow-border-v {
  border-right: 2px solid var(--main-yellow) !important;
  border-left: 2px solid var(--main-yellow) !important;
}

.blue-border-v {
  border-right: 2px solid var(--main-blue) !important;
  border-left: 2px solid var(--main-blue) !important;
}

.red-border-v {
  border-right: 2px solid red !important;
  border-left: 2px solid red !important;
}

.dark-grey-border-h {
  border-top: 2px solid var(--dark-grey) !important;
  border-bottom: 2px solid var(--dark-grey) !important;
}

.darker-grey-border-h {
  border-top: 2px solid var(--darker-grey) !important;
  border-bottom: 2px solid var(--darker-grey) !important;
}

.grey-border-h {
  border-top: 2px solid var(--grey) !important;
  border-bottom: 2px solid var(--grey) !important;
}

.light-grey-border-h {
  border-top: 2px solid var(--light-grey) !important;
  border-bottom: 2px solid var(--light-grey) !important;
}

.white-border-h {
  border-top: 2px solid var(--off-white) !important;
  border-bottom: 2px solid var(--off-white) !important;
}

.very-dark-border-h {
  border-top: 2px solid var(--very-dark) !important;
  border-bottom: 2px solid var(--very-dark) !important;
}

.pink-border-h {
  border-top: 2px solid var(--main-pink) !important;
  border-bottom: 2px solid var(--main-pink) !important;
}

.purple-border-h {
  border-top: 2px solid var(--light-purple) !important;
  border-bottom: 2px solid var(--light-purple) !important;
}

.yellow-border-h {
  border-top: 2px solid var(--main-yellow) !important;
  border-bottom: 2px solid var(--main-yellow) !important;
}

.blue-border-h {
  border-top: 2px solid var(--main-blue) !important;
  border-bottom: 2px solid var(--main-blue) !important;
}

.red-border-h {
  border-top: 2px solid red !important;
  border-bottom: 2px solid red !important;
}

.red-border-b {
  border-bottom: 2px solid red !important;
}

.header-border-yellow {
  border-top: 1px solid var(--main-yellow) !important;
  border-bottom: 1px solid var(--grey) !important;
  border-radius: var(--br-default);
}

.header-border-blue {
  border-top: 1px solid var(--main-blue) !important;
  border-bottom: 1px solid var(--grey) !important;
  border-radius: var(--br-default);
}

.header-border-white {
  border-top: 1px solid var(--off-white) !important;
  border-bottom: 1px solid var(--grey) !important;
  border-radius: var(--br-default);
}

.header-border-light-grey {
  border-top: 1px solid var(--light-grey) !important;
  border-bottom: 1px solid var(--grey) !important;
  border-radius: var(--br-default);
}

.thin {
  border-width: 1px !important;
}

.br-default {
  border-radius: var(--br-default);
}

.very-dark {
  color: var(--very-dark) !important;
}
.red {
  color: red !important;
}
.black {
  color: black !important;
}
.grey {
  color: var(--grey) !important;
}
.lightGrey,
.light-grey {
  color: var(--light-grey) !important;
}
.lightish-grey {
  color: var(--lightish-grey) !important;
}
.white {
  color: var(--off-white) !important;
}
.blue {
  color: var(--main-blue) !important;
}
.pink {
  color: var(--main-pink) !important;
}
.yellow {
  color: var(--main-yellow) !important;
}
.purple {
  color: var(--light-purple) !important;
}

.dark-hombre-horiz {
  background: var(--dark-hombre-horiz) !important;
}

.dark-hombre-reverse-horiz {
  background: var(--dark-hombre-reverse-horiz) !important;
}

.dark-hombre-vert {
  background: var(--dark-hombre-vert) !important;
}

.dark-hombre-reverse-vert {
  background: var(--dark-hombre-reverse-vert) !important;
}

.dark-hombre {
  background: var(--dark-hombre) !important;
}

.dark-hombre-reverse {
  background: var(--dark-hombre-reverse) !important;
}

.black-background {
  background: black !important;
}

.slushy {
  background: var(--slushy) !important;
}

.side-slushy {
  background: var(--side-slushy) !important;
}

.side-slushy-todo {
  background: var(--side-slushy-todo) !important;
}

.purple-slushy-horiz {
  background: var(--purple-slushy-horiz) !important;
}

.very-dark-background {
  background: var(--very-dark) !important;
}

.darker-grey-background {
  background: var(--darker-grey) !important;
}

.dark-grey-background {
  background: var(--dark-grey) !important;
}

.grey-background {
  background: var(--grey) !important;
}

.light-grey-background {
  background: var(--light-grey) !important;
}

.white-background {
  background: #ffffff !important;
}

.note-label-background {
  background: var(--note-label-background);
}

.todo-background {
  background: var(--todo-background) !important;
}

.pink-background {
  background: var(--main-pink) !important;
}

.purple-background {
  background: var(--light-purple) !important;
}

.purple-slushy {
  background: var(--purple-slushy) !important;
}

.white-slushy {
  background: var(--white-slushy) !important;
}

.blue-background {
  background: var(--main-blue) !important;
}

.red-background {
  background: red !important;
}

.yellow-background {
  background: var(--main-yellow) !important;
}

.no-background {
  background: unset;
}

$full-sizes: 0, 1, 2;
$percentage-sizes: 50, 33, 25, 20, 15, 10, 75;

@each $full-size in $full-sizes {
  .m-#{$full-size} {
    margin: #{$full-size}rem !important;
  }
  .h-m-#{$full-size} {
    margin-left: #{$full-size}rem !important;
    margin-right: #{$full-size}rem !important;
  }
  .v-m-#{$full-size} {
    margin-top: #{$full-size}rem !important;
    margin-bottom: #{$full-size}rem !important;
  }
  .m-r-#{$full-size} {
    margin-right: #{$full-size}rem !important;
  }
  .m-l-#{$full-size} {
    margin-left: #{$full-size}rem !important;
  }
  .m-t-#{$full-size} {
    margin-top: #{$full-size}rem !important;
  }
  .m-b-#{$full-size} {
    margin-bottom: #{$full-size}rem !important;
  }
  .p-#{$full-size} {
    padding: #{$full-size}rem !important;
  }
  .h-p-#{$full-size} {
    padding-left: #{$full-size}rem !important;
    padding-right: #{$full-size}rem !important;
  }
  .v-p-#{$full-size} {
    padding-top: #{$full-size}rem !important;
    padding-bottom: #{$full-size}rem !important;
  }
  .p-r-#{$full-size} {
    padding-right: #{$full-size}rem !important;
  }
  .p-l-#{$full-size} {
    padding-left: #{$full-size}rem !important;
  }
  .p-t-#{$full-size} {
    padding-top: #{$full-size}rem !important;
  }
  .p-b-#{$full-size} {
    padding-bottom: #{$full-size}rem !important;
  }
}

@each $percentage-size in $percentage-sizes {
  .m-#{$percentage-size} {
    margin: #{0.01 * $percentage-size}rem !important;
  }
  .h-m-#{$percentage-size} {
    margin-left: #{0.01 * $percentage-size}rem !important;
    margin-right: #{0.01 * $percentage-size}rem !important;
  }
  .v-m-#{$percentage-size} {
    margin-top: #{0.01 * $percentage-size}rem !important;
    margin-bottom: #{0.01 * $percentage-size}rem !important;
  }
  .m-r-#{$percentage-size} {
    margin-right: #{0.01 * $percentage-size}rem !important;
  }
  .m-l-#{$percentage-size} {
    margin-left: #{0.01 * $percentage-size}rem !important;
  }
  .m-t-#{$percentage-size} {
    margin-top: #{0.01 * $percentage-size}rem !important;
  }
  .m-b-#{$percentage-size} {
    margin-bottom: #{0.01 * $percentage-size}rem !important;
  }
  .p-#{$percentage-size} {
    padding: #{0.01 * $percentage-size}rem !important;
  }
  .h-p-#{$percentage-size} {
    padding-left: #{0.01 * $percentage-size}rem !important;
    padding-right: #{0.01 * $percentage-size}rem !important;
  }
  .v-p-#{$percentage-size} {
    padding-top: #{0.01 * $percentage-size}rem !important;
    padding-bottom: #{0.01 * $percentage-size}rem !important;
  }
  .p-r-#{$percentage-size} {
    padding-right: #{0.01 * $percentage-size}rem !important;
  }
  .p-l-#{$percentage-size} {
    padding-left: #{0.01 * $percentage-size}rem !important;
  }
  .p-t-#{$percentage-size} {
    padding-top: #{0.01 * $percentage-size}rem !important;
  }
  .p-b-#{$percentage-size} {
    padding-bottom: #{0.01 * $percentage-size}rem !important;
  }
}

.center-text {
  text-align: center;
}

.center-self {
  align-self: center;
}

.right-text {
  text-align: right;
}

.italic {
  font-style: italic;
}

.invisible {
  > * {
    opacity: 0;
  }
}

.grow {
  flex-grow: 1;
}

.no-grow {
  flex-grow: 0;
}

.no-shrink {
  flex-shrink: 0;
}

.no-overflow {
  overflow: hidden;
}

.select {
  flex: 0 1 auto;
  min-width: 14rem;
  * {
    font-size: 16px !important;
  }

  &.small {
    min-width: 5rem;
  }
}

.link-style {
  color: var(--main-blue) !important;
}
.link-style:hover {
  color: var(--main-pink) !important;
}

.hidden {
  display: none;
}

.pointer {
  cursor: pointer;
}

.not-allowed {
  cursor: not-allowed;
}

.no-highlight {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.home-container {
  display: flex;
}

.m0a {
  margin: 0 auto;
}

.h1px {
  height: 1px;
}

.w1px {
  width: 1px;
}

.flex {
  display: flex;

  &.row {
    display: flex;
    align-items: center;
  }

  &.row-reverse {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  &.col {
    flex-direction: column;
    justify-content: flex-start;
  }

  &.justify-center {
    justify-content: center;
  }

  &.justify-start {
    justify-content: start;
  }

  &.justify-end {
    justify-content: end;
  }

  &.align-center {
    align-items: center;
  }

  &.align-start {
    align-items: start;
  }

  &.wrap {
    flex-wrap: wrap;
  }
  &.wrap-reverse {
    flex-wrap: wrap-reverse;
  }

  &.space-between {
    justify-content: space-between;
  }

  &.space-around {
    justify-content: space-around;
  }
}

.full-width {
  width: 100%;
}

.full-height {
  height: 100%;
}

.min-height-100vh {
  min-height: 100vh;
}

.max-width-400 {
  max-width: 400px !important;
}

.max-width-600 {
  max-width: 600px !important;
}

.max-width-800 {
  max-width: 800px !important;
}

.max-width-1000 {
  max-width: 1000px !important;
}

.width-clamp-800 {
  width: clamp(300px, calc(100% - 1rem), 800px) !important;
}

.width-clamp-1000 {
  width: clamp(300px, calc(100% - 1rem), 1000px) !important;
}

.min-width-2rem {
  min-width: 2rem;
}

.min-width-3rem {
  min-width: 3rem;
}

.collapse-icon {
  justify-content: center;
  background-color: unset;
  svg {
    transition: 150ms;
  }
}

.collapse-icon.expanded,
.collapse-icon.collapsed:hover,
.collapse-icon.collapsed.force-hover {
  svg {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}
.collapse-icon.expanded:hover,
.collapse-icon.expanded.force-hover,
.collapse-icon.expanded.counter-clockwise:hover,
.collapse-icon.expanded.counter-clockwise.force-hover {
  svg {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.collapse-icon.expanded.counter-clockwise,
.collapse-icon.collapsed.counter-clockwise:hover,
.collapse-icon.collapsed.counter-clockwise.force-hover {
  svg {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

.loading-icon {
  justify-content: center;
  background-color: unset;
  svg {
    animation: spin 1s linear infinite;
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.no-height {
  height: 0px;
}

.uppercase {
  text-transform: uppercase;
}

.space-letters {
  letter-spacing: 0.1rem;
}

.space-letters-extra {
  letter-spacing: 0.2rem;
}

.circle-list {
  list-style: circle;
}

.circle-fill-list {
  list-style-type: disc;
}

.mega-font {
  font-size: var(--mega-font);
}
.mega-font-smaller {
  font-size: var(--mega-font-smaller);
}
.title-font {
  font-size: var(--title-font);
}
.subheader-font {
  font-size: var(--subheader-font);
}
.text-font {
  font-size: var(--text-font);
}
.smaller-font {
  font-size: var(--smaller-font);
}
.sub-text-size {
  font-size: var(--sub-text-size);
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  #picture-and-label {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }

  #navbar-big {
    display: none;
  }

  .mega-font {
    font-size: var(--title-font);
  }
  .mega-font-smaller {
    font-size: var(--title-font-smaller);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  #picture-and-label {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
  }

  #navbar-small {
    display: none;
  }
}

// /* Medium devices (landscape tablets, 768px and up) */
// @media only screen and (min-width: 768px) {...}

// /* Large devices (laptops/desktops, 992px and up) */
// @media only screen and (min-width: 992px) {...}

// /* Extra large devices (large laptops and desktops, 1200px and up) */
// @media only screen and (min-width: 1200px) {...}
